
.no-list-style{
  list-style: none;
  padding-left: 0;
};

.link{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
};

.pointer{
  cursor: pointer;
};

.inside-app {
  width: calc(100% - 17rem);
  margin-left: auto;
  height: calc(100% - 5rem);
  margin-top: 6rem;
};

.card{
  background-color: white !important;
  width: 90%;
  margin: auto;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgb(212, 212, 212);
  position: relative;
};

.btn-no-style{
  border: none;
  background-color: transparent;
};

.input-form{
  margin-bottom: 5px;
};

.full-width{
  width: 100%;
};
