.input-form {
  margin-bottom: 10px !important; }

.form-title {
  margin-left: 30px; }

.text-area {
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
  border: 1px #c7c7c7 solid; }

.dates {
  margin-bottom: 20px; }
  .dates .date-picker-div {
    width: 100%;
    display: flex;
    margin-bottom: 5px; }
    .dates .date-picker-div div {
      width: 85%;
      font-size: 14px !important; }
    .dates .date-picker-div .remove-icon {
      font-size: 22px;
      vertical-align: middle;
      margin-top: 10px;
      width: 16%; }
  .dates .adress-line .line {
    width: 48%; }
    .dates .adress-line .line:not(:first-child) {
      margin-left: 4%; }

.add-date {
  width: 100%;
  font-size: 14px;
  border: 1px dashed #038FDD;
  background-color: white;
  color: #474747;
  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 5px;
  transition-duration: 0.5s; }
  .add-date:hover {
    color: #038FDD;
    transition-duration: 0.5s; }
  .add-date svg {
    vertical-align: middle; }

.small {
  height: 55px !important; }

.upload-picture {
  position: relative;
  padding-top: 3rem;
  margin-bottom: 4rem; }
  .upload-picture .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .upload-picture .label {
    padding: 2.5rem 2rem;
    border: 1px #d6d6d6 dashed;
    background-color: #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
    position: relative; }
    .upload-picture .label .plus-icon {
      position: absolute;
      top: 1.5rem;
      left: 3rem; }

.upload-multiple-pictures {
  position: relative; }
  .upload-multiple-pictures .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .upload-multiple-pictures .label {
    padding: 0.5rem 0rem;
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px #d6d6d6 dashed;
    background-color: #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    transition: 0.5s; }
    .upload-multiple-pictures .label:hover {
      color: #585858; }
    .upload-multiple-pictures .label .plus-icon {
      vertical-align: middle;
      margin-right: 5px; }

.picture-names-list {
  height: 150px;
  overflow: auto; }
  .picture-names-list li {
    font-size: 14px !important;
    position: relative; }
    .picture-names-list li svg {
      position: absolute;
      right: 0; }
    .picture-names-list li:hover {
      background-color: #F5F5F5; }

.picture-link {
  font-style: italic;
  color: #585858; }

.delete-picture {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 20px;
  transition: 0.5s; }
  .delete-picture:hover {
    color: #585858; }

.show-form {
  width: 90%;
  margin: auto; }
  .show-form .editor-div {
    border: 1px #c4c4c4 solid;
    border-radius: 5px;
    min-height: 300px;
    max-height: 60vh;
    overflow: auto; }
  .show-form .rdw-option-wrapper {
    min-width: 16px !important; }
  .show-form .dates-and-picture {
    display: flex;
    justify-content: space-between; }
    .show-form .dates-and-picture .dates-div {
      width: 58%; }
    .show-form .dates-and-picture .pictures-div {
      width: 38%;
      padding-left: 1rem; }
  .show-form .div-links {
    padding-bottom: 10px !important; }
  .show-form .links {
    display: flex;
    justify-content: space-between; }
    .show-form .links #name {
      width: 39%; }
    .show-form .links #link {
      width: 39%; }
    .show-form .links #type {
      width: 16%; }
    .show-form .links .remove-icon {
      font-size: 22px;
      vertical-align: middle;
      margin-top: 10px;
      width: 4%; }
  .show-form .btn-div {
    padding: 1rem 0; }

.loading-div button {
  display: flex; }
  .loading-div button .loading-div {
    width: 20px;
    margin-right: 5px; }

.btn-div-form {
  width: 200px;
  margin: auto;
  display: flex; }
