.photo-gallery .div-buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  height: 3rem; }
  .photo-gallery .div-buttons .go-back-div {
    width: 15%; }
    .photo-gallery .div-buttons .go-back-div .go-back {
      padding: 8px; }
      .photo-gallery .div-buttons .go-back-div .go-back svg {
        vertical-align: middle;
        margin-bottom: 2px; }
  .photo-gallery .div-buttons .save-div {
    width: 40%; }
    .photo-gallery .div-buttons .save-div .save {
      padding: 8px;
      width: 100%;
      display: none; }
  .photo-gallery .div-buttons .upload-multiple-pictures {
    width: 40%; }
  @media screen and (max-width: 1600px) {
    .photo-gallery .div-buttons {
      width: 70%; } }
  @media screen and (max-width: 1300px) {
    .photo-gallery .div-buttons {
      width: 90%; } }

.photo-gallery .photos-list {
  display: flex;
  flex-wrap: wrap; }
  .photo-gallery .photos-list li {
    width: 300px;
    margin: 20px;
    position: relative;
    transition: .5s; }
    .photo-gallery .photos-list li:hover svg {
      opacity: 1; }
    .photo-gallery .photos-list li svg {
      position: absolute;
      color: white;
      font-size: 40px;
      background: rgba;
      padding: 3rem 5rem;
      top: 15%;
      left: 10%;
      background-color: rgba(128, 128, 128, 0.5);
      box-shadow: 0 0 50px 3px grey !important;
      transition: .5s;
      opacity: 0; }
      .photo-gallery .photos-list li svg:hover {
        color: white;
        cursor: pointer; }
